/* 
Color Palette
--teal-blue: #3c7a89ff;
--charcoal: #2e4756ff;
--fuzzy-wuzzy: #bd6b73ff;
--lavender-blue: #c6c8eeff;
--white: #fcfcffff;

--independence: #555b6eff;
--morning-blue: #89b0aeff;
--powder-blue: #bee3dbff;
--cultured: #faf9f9ff;
--apricot: #ffd6baff;
*/

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #faf9f9;
    color: #89B0AE;
    margin: 0;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px 10px;
  }

.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }

h2, p {
    padding-left: 10px;
}